.center-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .workemag{
      position: absolute;
      z-index: 20;
      right: vw(125);
      top:vh(9);
    }
    .center-top{
       width: 100%;
       height: vh(400);
       position: relative;
       border:vw(1) solid rgba(18,85,154,1);
       .full-screen-btn {
         position: absolute;
         z-index: 10;
         @include vh2(top, 10);
         @include vw2(right, 130);
        //  @include vw2(width, 23);
        //  @include vw2(height, 23);
         text-align: center;
         @include vw2(line-height, 23);
        //  background: #fff;
         box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
         border-radius: vh(2);
         cursor: pointer;
         img{
          width:vw(21);
          height:vh(21);
         }
         .iconfont {
           @include vw2(font-size, 10);
         }
       }
       .setting-btn {
         position: absolute;
         z-index: 10;
         @include vh2(top, 10);
         @include vw2(right, 10);
         box-sizing: border-box;
         padding: vh(2) vw(9.8);
         @include vw2(line-height, 23);
         background: #fff;
         box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
         border-radius: vh(2);
         display: flex;
         justify-content: center;
         align-items: center;
         @include vw2(font-size, 10);
         cursor: pointer;
         img {
           @include vw2(width, 16);
           @include vw2(height, 10);
           @include vw2(margin-right, 6);
         }
       }
       .map-legend {
         position: absolute;
         @include vh2(bottom, 12);
         @include vw2(left, 12);
         padding:vh(7) vw(10);
         padding-bottom:0;
         background:rgba(12,58,111,0.9);
         border:1px solid rgba(18,85,154,0.9);
         box-sizing: border-box;
         z-index:10;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         cursor: pointer;
         .legend-item {
           width: 100%;
           display: flex;
           align-items: center;
           @include vw2(font-size, 10);
           @include vh2(margin-bottom, 7);
           color: #fefefe;
           img {
             @include vw2(width, 13);
             @include vh2(height, 17);
             @include vw2(margin-right, 6);
           }
         }
         .workOrder-tab {
           position: absolute;
           left: 100%;
           top: 0;
           @include vw2(width, 426);
           height: 100%;
          //  @include vw2(height, 134);
           @include vw2(padding-left, 7);
           box-sizing: border-box;
           .slide-box {
             width: 100%;
             height: 100%;
             display: flex;
             @include vw2(font-size, 10);
             flex-direction: column;
             background: rgba(0, 0, 0, 0.4);
             .tab-head {
               width: 100%;
               @include vw2(height, 22);
               color: #fff;
               @include vw2(line-height, 22);
               text-align: center;
               display: flex;
               background: rgba(0, 0, 0, 0.4);
               > div {
                 height: 100%;
               }
             }
             .tab-body {
               flex: 1;
               height: 1px;
               width: 100%;
               color: #fff;
               @include vw2(line-height, 34);
               text-align: center;
               overflow: hidden;
               overflow-y: auto;
               &::-webkit-scrollbar {
                 @include vw2(width, 8);
                 height: 1px;
               }
               &::-webkit-scrollbar-thumb {
                 border-radius: vw(8);
                 box-shadow: inset 0 0 vw(5) rgba(0, 0, 0, 0.2);
                 background: #515151;
               }
               &::-webkit-scrollbar-track {
                 box-shadow: inset 0 0 vw(5) rgba(0, 0, 0, 0.2);
                 border-radius: vw(8);
                 background: rgba(0, 0, 0, 0.4);
               }
               .tab-item {
                 width: 100%;
                 @include vw2(height, 22);
                 display: flex;
               }
             }
           }
         }
       }
       .setting-content {
         position: absolute;
         z-index: 10;
         @include vh2(top, 34);
         @include vw2(right, 10);
         // height: 41.7vh;
         background:rgba(11,54,106,1);
         border:1px solid rgba(18,85,154,1);
         padding: vh(12) vw(18.3) vh(12.1) vw(8.6);
         border-radius: vh(2);
         box-sizing: border-box;
         .setting-selects {
           width: 100%;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           .selects-item {
             display: flex;
             align-items: center;
             color:#04E7FB;
             @include vw2(font-size, 10);
             @include vw2(margin-bottom, 14);
             &:last-of-type {
               margin: 0;
             }
             cursor: pointer;
             img {
               @include vw2(margin-right, 6);
              //  @include vw2(width, 12);
               width: vw(10.3);
               height: vh(10.3);
              //  @include vw2(height, 12);
             }
           }
         }
       }

       .workOrder-details {
        position: absolute;
        z-index: 10;
        @include vw2(right, 400);
        @include vh2(top, 58);
        @include vw2(width, 214);
        @include vw2(height, 326);
        background: #00478f;
        border-top: 2px solid #00cafa;
        border-bottom: 2px solid #00cafa;
        padding: 0 vw(14);
        box-sizing: border-box;
        color: #fefefe;
        .workOrder-details-close {
          position: absolute;
          @include vw2(right, 6);
          @include vw2(top, 6);
          @include vw2(width, 18);
          @include vw2(height, 18);
          text-align: center;
          @include vw2(line-height, 18);
          @include vw2(font-size, 10);
          cursor: pointer;
        }
        .details-status {
          width: 100%;
          @include vw2(height, 30);
          text-align: center;
          @include vw2(line-height, 28);
          @include vw2(font-size, 12);
        }
        .imgs {
          width: 100%;
          @include vw2(height, 156);
          .img-item {
            position: relative;
            // @include vw2(width, 188);
            @include vw2(height, 156);
            img {
              width: 100%;
              height: 100%;
            }
            .img-watermark {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              @include vw2(height, 22);
              background: rgba(0, 0, 0, 0.6);
              @include vw2(font-size, 10);
              font-weight: bold;
              text-align: center;
              @include vw2(line-height, 22);
            }
          }
        }
        .details-text {
          @include vw2(margin-top, 2);
          @include vw2(font-size, 10);
          color: #fff;
          @include vw2(line-height, 18);
          > p {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0;
          }
        }
        .dispose-status {
          @include vw2(font-size, 12);
          font-weight: bold;
          position: absolute;
          @include vw2(right, 12);
          @include vw2(bottom, 12);
        }
      }
    }
    .center-bottom{
        flex: 1;
        overflow: hidden;
        border:vw(1) solid rgba(18,85,154,1);
        margin-top: vh(10);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: vh(8) vw(8);
        .tableox{
          flex:1;
          margin-top: vh(6);
        }
     }
}