.right-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include vw2(font-size,18);
    color: aqua;
    .right-top{
       width: 100%;
       height: vh(280);
    }
    .right-bottom{
        flex: 1;
     }
}